{% extends 'base.html.twig' %}

 {% block menu %}
     {% import 'macro/macroMenu.html.twig' as macroMenu %}
     {{ macroMenu.menu('Abdo en acier', 5) }}

 {% endblock %}


{% block body %}


    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form action="{{ path('app_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion </legend>
                        <div class="form-group">
                            <label for="username"> Utilisateur </label>
                            <input type="text" id="username" name="username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="well">

                <form action="{{ path('inscription') }}" method="post">
                    {% block formulaire %}
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> Nouvelle inscription </legend>

                        {{ form_start(formUtilisateur) }}
                        {{ form_row(formUtilisateur.email) }}
                        {{ form_row(formUtilisateur.login) }}
                        {{ form_row(formUtilisateur.nomUtilisateur) }}
                        {{ form_row(formUtilisateur.prenomUtilisateur) }}
                        {{ form_row(formUtilisateur.password) }}
                        {{ form_row(formUtilisateur.passwordConfirm) }}
                        {{ form_row(formUtilisateur.accordPolitiqueSite) }}
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                        {{ form_end(formUtilisateur) }}
                    {% endblock %}
                    {% if error_inscription %}
                        <div class="alert alert-danger">
                            {{ error_inscription }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}