{% extends 'base.html.twig' %}

{% block title %}Activitesequencetheorique index{% endblock %}

{% block body %}
    <h1>Activitesequencetheorique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Perfobjectif</th>
                <th>Ordre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activitesequencetheorique in activitesequencetheoriques %}
            <tr>
                <td>{{ activitesequencetheorique.id }}</td>
                <td>{{ activitesequencetheorique.perfobjectif }}</td>
                <td>{{ activitesequencetheorique.intensiteObjectif }}</td>
                <td>{{ activitesequencetheorique.ordre }}</td>
                <td>
                    <a href="{{ path('activitesequencetheorique_show', {'id': activitesequencetheorique.id}) }}">show</a>
                    <a href="{{ path('activitesequencetheorique_edit', {'id': activitesequencetheorique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activitesequencetheorique_new') }}">Create new</a>
{% endblock %}
