{% extends 'base.html.twig' %}

{% block title %}Activitesequencetheorique{% endblock %}

{% block body %}
    <h1>Activitesequencetheorique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activitesequencetheorique.id }}</td>
            </tr>
            <tr>
                <th>Perfobjectif</th>
                <td>{{ activitesequencetheorique.perfobjectif }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ activitesequencetheorique.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activitesequencetheorique_index') }}">back to list</a>

    <a href="{{ path('activitesequencetheorique_edit', {'id': activitesequencetheorique.id}) }}">edit</a>

    {{ include('activitesequencetheorique/_delete_form.html.twig') }}
{% endblock %}
