{% extends 'base.html.twig' %}

{% block title %}Sequencetheorique index{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 9) }}

{% endblock %}

{% block body %}
    <h1>Sequencetheorique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sequencetheorique in sequencetheoriques %}
            <tr>
                <td>{{ sequencetheorique.id }}</td>
                <td>{{ sequencetheorique.titre }}</td>
                <td>{{ sequencetheorique.niveau }}</td>
                <td>
                    <a href="{{ path('sequencetheorique_show', {'id': sequencetheorique.id}) }}">show</a>
                    <a href="{{ path('sequencetheorique_edit', {'id': sequencetheorique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sequencetheorique_new') }}">Create new</a>
{% endblock %}
