{% extends 'base.html.twig' %}

{% block title %}Sequencetheorique{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 9) }}
{% endblock %}

{% block body %}
    <h1>Sequencetheorique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sequencetheorique.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ sequencetheorique.titre }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ sequencetheorique.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sequencetheorique_index') }}">back to list</a>

    <a href="{{ path('sequencetheorique_edit', {'id': sequencetheorique.id}) }}">edit</a>

    {{ include('sequencetheorique/_delete_form.html.twig') }}
{% endblock %}
